.logo {
  display: flex;
  align-items: center;
  font-size: 22px;

  &:after {
    content: "";
    background-image: url("/PomeloInsight.svg");
    height: 100%;
    width: 140px;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}